---
preheader: "Product cookies"
googleFonts: "family=Mulish:wght@400;500;600;700;800"
wrapperClass: font-serif
bodyClass: bg-gray-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full bg-gray-50 font-mulish">
      <tr>
        <td align="center">
          <table class="email-content w-full">
            <tr>
              <td class="email-body w-full">
                <table
                  class="align-center email-body_inner w-570 bg-white mx-auto sm:w-11/12 shadow-lg mt-64"
                >
                  <tr>
                    <td class="p-45 sm:p-30" md>
                      Hi team,

                      With the official launch of Sibling Support on Tuesday, I wanted to kick off a new series, ***Product Cookies***, serving a digest of product updates, celebrations, learnings, and upcoming items on the horizon. Hopefully this will be useful, especially as we continue to grow as a team, to keep everyone connected and informed of Ello’s core product and the thought and processes that go into shaping our product’s direction.

                      ---

                      ## 💫 What’s new?

                      ![Frame 6660.png](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/fe9921b4-ac1f-4bb7-b1df-f58efa26cd23/Frame_6660.png)

                      ### **Official Siblings Support** 👨‍👩‍👦‍👦

                      That’s right, Ello now has sibling support. Horray! 🎉

                      Prior to this update, families with multiple children had to either have their children share a single Ello subscription, or create separate accounts for each children. Now, these families can have all their children under a single account/subscription, each with their own book selection and prize.

                      Families can add additional profiles to share existing books for free, or pay an additional $13/mo to add additional book bundles.

                      When a profile is added, users will be able to switch profiles through the in-app profile switcher demonstrated bellow.

                      ![ezgif.com-gif-maker.gif](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/f43b1f02-1e42-4ee0-960d-6f90376e8a15/ezgif.com-gif-maker.gif)

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
