<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full bg-ello-blue-500 px-[2.5rem]">
        <tr>
          <td class="leading-[2.5rem] sm:leading-[2rem]">&zwnj;</td>
        </tr>
        <tr>
          <td class="w-8/12 sm:w-4/12">
            <a href="https://www.helloello.com">
              <img
                src="https://storage.googleapis.com/ello-public/images/ello_logo.png"
                width="70"
                class="sm:w-[60px]"
                alt="Ello logo"
              />
            </a>
          </td>
          <td align="right" class="w-4/12 sm:w-8/12">
            <table>
              <tr>
                <td class="pr-[1.5rem]">
                  <a href="https://www.instagram.com/readwithello/">
                    <img
                      src="https://storage.googleapis.com/ello-public/images/instagram.png"
                      width="22"
                      alt="instagram"
                    />
                  </a>
                </td>
                <td class="pr-[1.5rem]">
                  <a href="https://www.facebook.com/readwithello/">
                    <img
                      src="https://storage.googleapis.com/ello-public/images/facebook.png"
                      width="12"
                      alt="facebook"
                    />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="leading-[2.5rem]">&zwnj;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
