<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] bg-ello-turquoise-700">
        <tr>
          <td>
            <div class="leading-[3rem]">&zwnj;</div>
            <table class="w-full">
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] text-[#FFFFFF] text-[1rem]"
                  >
                    Just because you’ve got your
                    <strong>Raise a Reader Toolkit</strong> doesn’t mean you’re
                    alone. We’ll be checking in soon with extra advice, ideas,
                    and support!
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="leading-[1.5rem] sm:leading-[0.7rem]">&zwnj;</div>
                  <table>
                    <tr>
                      <td class="w-[4rem]">
                        <img
                          src="/images/ello_icon.png"
                          width="60"
                          class="sm:w-[50px]"
                          alt="Ello icon"
                        />
                      </td>
                      <td class="font-mulish text-white">
                        <p class="px-[15px] leading-[25px] text-[1rem]">
                          Happy Reading, <br />
                          <strong>The Ello Team</strong>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="leading-[2rem]">&zwnj;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
