<table class="w-full">
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full bg-[#f9fafb]">
				<tr>
					<td class="px-[2.5rem] sm:px-[1.5rem]">
					<div class="relative mb-[-20px]">
						<h2 class="font-mulish m-0 font-extrabold font-mulish text-ello-blue-500 leading-[40px] text-[2rem] sm:text-[1.7rem]">Empowering Young <br> Readers</h2>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>	<img src="https://i.ibb.co/mDXN8gq/wave-and-kid.png" width="600" alt="happy kid"></div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>