<table class="w-full">
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full bg-[#F6F4F5]">
				<tr>
					<td class="px-[2.5rem] sm:px-[1.5rem] pt-[3rem]">
					<div class="relative mb-[-100px]">
						<h2 class="m-0 font-mulish font-extrabold font-mulish text-ello-blue-500 leading-[40px] text-[2rem] sm:text-[1.7rem]">Supporting Parents <br> Like You</h2>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>	<img src="https://i.ibb.co/RDd7RRH/mom-and-kid.png" width="600" alt="happy kid"></div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>