<table class="w-full">
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[1.5rem] bg-ello-yellow-500 bg-wave_and_kid bg-contain sm:bg-120 bg-top-center bg-no-repeat ">
				<tr>
					<td>
						<table class="w-full">
							<tr>
								<td class="font-mulish">
									<h2 class="m-0 font-extrabold font-mulish text-ello-blue-500 leading-[40px] text-[2rem] sm:text-[1.8rem]">Empowering Young <br> Readers</h2>
								</td>
							</tr>
						</table>
						<div class="leading-[26.3rem] sm:leading-[20rem]">&zwnj;</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>