<table class="w-full">
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[1.5rem] bg-[#F6F4F5] bg-mom_and_kid bg-contain sm:bg-140 bg-top-center sm:bg-top-left bg-no-repeat ">
				<tr>
					<td>
						<div class="leading-[3rem]">&zwnj;</div>
						<table class="w-full">
							<tr>
								<td class="font-mulish">
									<h2 class="m-0 font-extrabold font-mulish text-[#335C6E] leading-[40px] text-[2rem] sm:text-[1.8rem]">Supporting Parents <br> Like You</h2>
								</td>
							</tr>
						</table>
						<div class="leading-[18rem]">&zwnj;</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>