<table class="w-full">	
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[1.5rem] bg-[#FABD33]">
				<tr>
					<td>
						<div class="leading-[3rem] sm:leading-[1.5rem]">&zwnj;</div>
						<table class="w-full">
							<tr>
								<td class="font-mulish">
										<p class="m-0 font-normal leading-[25px] text-[#2C3232] text-[1rem] sm:font-normal">
											No matter where your child is on their reading journey, they deserve great, evidence-based support that <strong>builds their confidence and helps them read independently.</strong>
										</p>
								</td>
							</tr>
						</table>
						<div class="leading-[3rem]">&zwnj;</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>