<table class="w-full">	
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-[#F9FAFB]">
				<tr>
					<td>
						<div class="leading-[3rem]">&zwnj;</div>
						<table class="w-full">
							<tr>
								<td class="font-mulish">
										<p class="m-0 font-normal leading-[25px] sm:text-center sm:font-normal text-ello-blue-500 text-[1rem]">
											Thanks for taking the time to tell us a little about your young reader. Now it’s our turn to tell you a little about Ello:
										</p>
								</td>
							</tr>
						</table>
						<div class="leading-[3rem] sm:leading-[2.5rem]">&zwnj;</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
