<table class="w-full">
  <tr>
    <td align="center">
      <table
        class="w-[600px] sm:w-full px-[2.5rem] sm:px-[1.5rem] bg-[#F6F4F5]"
      >
        <tr>
          <td>
            <table class="w-full">
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] text-black text-[1rem]"
                  >
                    Get simple advice and ideas
                    <strong
                      >developed by reading specialists and teachers</strong
                    >
                    to help take the guesswork out of building your child’s
                    reading skills and confidence at home.
                  </p>
                </td>
              </tr>
            </table>
            <div class="leading-[3rem]">&zwnj;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
