<table class="w-full">
	<tr>
		<td align="center">
			<div class="leading-[2.5rem]">&zwnj;</div>
			<table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-white">
				<tr>
					<td class="font-mulish font-normal">
						<p class="w-[65%] sm:w-[100%] text-ello-gray-900 leading-[25px]">Enrich your strong reader’s skills with Ello now and empower them to pursue their goals, dreams, and passions for the rest of their lives.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="w-full">
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full bg-white">
				<tr>
					<td>
						<div class="mt-[-70px] sm:mt-[-20px]">
							<img src="/images/unicorn_bg_yellow.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden" alt="unicorn">
							<img src="/images/unicorn_bg_yellow_mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100" alt="unicorn">
						</div>
					</td>
				</tr>
			</table>	
		</td>
	</tr>
</table>