<table class="w-full">
  <tr>
    <td align="center">
			<table class="w-[600px] sm:w-full">
				<tr>
					<td>
            <img src="/images/girl_bg.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden" alt="mom and daughter">
            <img src="/images/girl_bg_mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100"alt="mom and daughter">
					</td>
				</tr>
			</table>
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-white">
				<tr>
          <td>
						<div class="leading-[3rem]">&zwnj;</div>
							<table>
								<tr>
									<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
										<p class="mt-0 mb-[0.5rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-left">
											Keep Them Engaged & Invested In Reading
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<tr>
												<td class="font-mulish">
													<table>
														<tr>
															<td>
																<p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
																	Being stuck reading texts that are too easy at school is boring, and if a child thinks reading is boring, they won’t fall in love with it. 
																</p>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										
										</table>
									</td>
								</tr>
							</table>
          </td>
        </tr> 
				<tr>
          <td>
						<div class="leading-[1.5rem]">&zwnj;</div>
							<table>
								<tr>
									<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
										<p class="mt-0 mb-[0.5rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-left">
											Let Them Shine While Still Offering Support
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<tr>
												<td class="font-mulish">
													<table>
														<tr>
															<td>
																<p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
																	A 1st grader reading at a 2nd grade level is advanced, but still needs the right support as they learn to be a confident, independent reader.
																</p>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										
										</table>
									</td>
								</tr>
							</table>
          </td>
        </tr>
				<tr>
          <td>
						<div class="leading-[1.5rem]">&zwnj;</div>
							<table>
								<tr>
									<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
										<p class="mt-0 mb-[0.5rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-left">
											Unlock Learning Across All Subjects
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<tr>
												<td class="font-mulish">
													<table>
														<tr>
															<td>
																<p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
																	Help your child shift from the “learning to read” to the “reading learn” phase so they can continue to grow and excel in the areas they love.
																</p>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<div class="leading-[2.5rem]">&zwnj;</div>
          </td>
        </tr> 
			</table>
    </td>
  </tr>
</table>
