<table class="w-full">
  <tr>
    <td align="center">
      <table
        class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-ello-blue-500"
      >
        <tr>
          <td>
            <div class="leading-[3rem]">&zwnj;</div>
            <table class="w-full">
              <tr>
                <td
                  class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]"
                >
                  <p class="mt-0 mb-[1rem] leading-[34px]">
                    Engaging & Motivating Reading Support
                  </p>
                </td>
              </tr>
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-[1rem] text-white"
                  >
                    Using cutting-edge
                    <strong
                      >speech recognition & adaptive learning technology</strong
                    >
                    , Ello listens to your child read and gives the kind of
                    feedback a reading teacher would.
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="w-[600px] sm:w-full">
        <tr>
          <td>
            <img
              src="/images/elephant_bg.png"
              class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden"
              alt="elephant image"
            />
            <img
              src="/images/elephant_bg_mob.png"
              class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100"
              alt="elephant image"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
