<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full">
				<tr>
					<td align="center" class="bg-[#F0EBE9]">
						<table>
							<tr>
								<td>
									<div class="leading-[3rem] sm:leading-[2rem]">&zwnj;</div>
									<a href="#">
										<img src="/images/ello_logo_3.png" width="80" class="mx-auto block" alt="Ello logo">
									</a>
									<div class="leading-[3rem] sm:leading-[2rem]">&zwnj;</div>
								</td>
							</tr>
							<tr>
								<td class="font-mulish text-ello-blue-500 font-extrabold">
									<h1 class="text-[2.2rem] text-center my-0 leading-[46px]">
										Give Your Child’s Reading <br> Routine a Boost
									</h1>
								</td>
							</tr>
							<tr>
								<td class="font-mulish font-bold text-center">
									<p class="text-[1.45rem] my-[2rem]">Try the Ello App For $5</p>
									<img src="/images/kid_laptop.png" alt="Kid with laptop">
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>	

