<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] bg-white">
        <tr>
          <td>
            <div class="leading-[3rem]">&zwnj;</div>
            <table class="w-full">
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] text-ello-gray-900 text-[1rem]"
                  >
									Whether you decide to try the Ello App or not, we’re here for you and your child. Feel free to send us questions about using your Raise a Reader Toolkit anytime.
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="leading-[1.5rem] sm:leading-[0.7rem]">&zwnj;</div>
                  <table>
                    <tr>
                     
                      <td class="font-mulish text-ello-gray-900">
                        <p class="leading-[25px] text-[1rem]">
													text: <a href="tel:6504050324" class="text-ello-turquoise-500 font-bold no-underline">650-405-0324</a>
													<br>
													email: <a href="mailto:support@helloello.com" class="text-ello-turquoise-500 font-bold no-underline">support@helloello.com</a>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="leading-[2rem]">&zwnj;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
