<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-[#F9FAFB]">
        <tr>
          <td>
            <div class="leading-[1rem]">&zwnj;</div>
            <table class="w-full">
							<tr>
								<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
									<p class="mt-0 mb-[1rem] leading-[34px] text-ello-gray-900">Great Books To Spark a Love of Reading</p>
								</td>
							</tr>
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-[1rem] text-ello-gray-900"
                  >
									Your child receives <strong>5 developmentally appropriate books</strong> in the mail every month to read to Ello. Keep the ones they love & return the rest for no charge.
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
			<table class="w-[600px] sm:w-full">
				<tr>
					<td>
						<img src="https://i.ibb.co/2P9FtKK/books-bg.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden" alt="books image">
						<img src="https://i.ibb.co/phHChqj/books-bg-mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100" alt="books image">
					</td>
				</tr>
			</table>
    </td>
  </tr>
</table>
