<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-ello-turquoise-700">
        <tr>
          <td>
            <div class="leading-[3rem] sm:leading-[2.5rem]">&zwnj;</div>
            <table class="w-full">
							<tr>
								<td class="font-mulish font-bold text-[1.6rem] sm:text-[1.4rem]">
									<p class="mt-0 mb-[1rem] leading-[34px] text-white">The Fun Way To Master Reading Skills</p>
								</td>
							</tr>
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-[1rem] text-white"
                  >
										Adding Ello to your child’s daily reading routine gives them evidence-based, systematic instruction so they have the confidence to tackle new texts.
									</p>
                </td>
              </tr>
            </table>
            <div class="leading-[2rem]">&zwnj;</div>
          </td>
        </tr>
      </table>
			<table class="w-[600px] sm:w-full bg-ello-turquoise-700">
				<tr>
					<td>
						<img src="https://i.ibb.co/Zg3QJLK/animals-bg.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden" alt="animals image">
						<img src="https://i.ibb.co/72rGD31/animals-bg-mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100" alt="animals image">
					</td>
				</tr>
			</table>
    </td>
  </tr>
</table>
