<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-[#F9FAFB]">
        <tr>
          <td>
            <div class="leading-[1rem]">&zwnj;</div>
            <table class="w-full">
							<tr>
								<td class="font-mulish text-white font-bold text-[1.6rem]">
									<p class="mt-0 mb-[1rem] leading-[34px] text-ello-gray-900">Great Books To Spark a Love of Reading</p>
								</td>
							</tr>
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] sm:text-center sm:font-normal text-[1rem] text-ello-gray-900"
                  >
									Your child receives <strong>5 developmentally appropriate books</strong> in the mail every month to read to Ello. Keep the ones they love & return the rest for no charge.
                  </p>
                </td>
              </tr>
            </table>
            <!-- <div class="leading-[3rem] sm:leading-[2.5rem]">&zwnj;</div> -->
          </td>
        </tr>
      </table>
			<table class="w-[600px] sm:w-full">
				<tr>
					<td>
						<img src="/images/books_bg.png" alt="elephant image">
					</td>
				</tr>
			</table>
    </td>
  </tr>
</table>
