<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-ello-turquoise-700">
        <tr>
          <td>
            <div class="leading-[3rem]">&zwnj;</div>
            <table class="w-full">
							<tr>
								<td class="font-mulish font-bold text-[1.6rem]">
									<p class="mt-0 mb-[1rem] leading-[34px] text-white">The Fun Way To Master Reading Skills</p>
								</td>
							</tr>
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] sm:text-center sm:font-normal text-[1rem] text-white"
                  >
										Adding Ello to your child’s daily reading routine gives them evidence-based, systematic instruction so they have the confidence to tackle new texts.
									</p>
                </td>
              </tr>
            </table>
            <div class="leading-[2rem]">&zwnj;</div>
          </td>
        </tr>
      </table>
			<table class="w-[600px] bg-ello-turquoise-700">
				<tr>
					<td>
						<img src="/images/animals_bg.png" alt="elephant image">
					</td>
				</tr>
			</table>
    </td>
  </tr>
</table>
