---
preheader: "The Ello team"
title: "What parents of early readers really need to know"
googleFonts: "family=Mulish:wght@400;500;600;700;800"
wrapperClass: font-serif
---

<extends src="src/layouts/main.html">
	<block name="template">
		<component src="src/components/ello 3/s2/header.html"></component>
		<component src="src/components/ello 3/s2/salut.html"></component>
		<component src="src/components/ello 3/s2/section-advantages.html"></component>
		<component src="src/components/ello 3/s2/section-button.html"></component>
		<component src="src/components/ello 3/s2/section-feedback.html"></component>
		<component src="src/components/ello/shared/footer.html"></component>
	</block>
</extends>