<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full">
				<tr>
					<td align="center" class="bg-white">
						<table>
							<tr>
								<td>
									<div class="leading-[3rem] sm:leading-[2rem]">&zwnj;</div>
									<a href="#">
										<img src="/images/ello_logo_3.png" width="80" class="mx-auto block sm:w-[3rem]" alt="Ello logo">
									</a>
									<div class="leading-[3rem] sm:leading-[2rem]">&zwnj;</div>
								</td>
							</tr>
							<tr>
								<td class="font-mulish text-ello-blue-500 px-[2.5rem] sm:px-[2rem]">
									<h1 class="text-[2.2rem] sm:text-[2rem] text-center my-0 leading-[46px] font-extrabold">
										<span class="w-[90%] inline-block sm:w-[100%]">How Your Read <br> At Home Matters</span>
									</h1>
								</td>
							</tr>
							<tr>
								<td class="font-mulish font-bold text-center">
									<p class="text-[1.45rem] my-[2rem] sm:my-[1.5rem] text-ello-gray-900">Get Expert Support From Ello</p>
									<img src="/images/elephants_bg.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden" alt="Kid with laptop">
									<img src="/images/moon_bg_mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100" alt="Kid with laptop">
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>	

