<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full">
				<tr>
					<td align="center" class="bg-white">
						<table>
							<tr>
								<td>
									<div class="leading-[3rem] sm:leading-[2rem]">&zwnj;</div>
									<a href="#">
										<img src="/images/ello_logo_3.png" width="80" class="mx-auto block sm:w-[3rem]" alt="Ello logo">
									</a>
									<div class="leading-[3rem] sm:leading-[2rem]">&zwnj;</div>
								</td>
							</tr>
							<tr>
								<td class="font-mulish text-ello-blue-500">
									<h1 class="text-[2.2rem] sm:text-[2rem] text-center my-0 leading-[46px] font-extrabold">
										<span class="w-[90%] inline-block sm:w-[100%]">Give Your Child<br>Confidence & Independence</span>
									</h1>
								</td>
							</tr>
							<tr>
								<td>
								
									<img src="/images/kid_tablet_bg.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden mt-[1rem]" alt="Elaphants">
									<img src="/images/kid_tablet_mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100" alt="Elaphantsf">
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>	

