<table class="w-full">
	<tr>
		<td align="center">
			<div class="leading-[2.5rem]">&zwnj;</div>
			<table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-white">
				<tr>
					<td class="font-mulish font-normal">
						<p class=" text-ello-gray-900 leading-[25px]">
							See Ello in action with your kiddo for <strong>just $5 the first month</strong>. If you decide it’s not for you, just cancel before your next box ships. We’re so confident you’ll love it, we’ll even check in before the month is up so you don’t accidentally stay subscribed.
						</p>
					</td>
				</tr>
			</table>
			<div class="leading-[2.5rem]">&zwnj;</div>
		</td>
	</tr>
</table>