<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-[#F9FAFB]">
				<tr>
          <td>
						<div class="leading-[3rem]">&zwnj;</div>
							<table>
								<tr>
									<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
										<p class="mt-0 mb-[1rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-center">
                      Take the Stress Out Of Reading Time
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<div class="leading-[2rem]">&zwnj;</div>
											<tr>
												<td class="w-[80px] sm:w-[60px] flex align-start">
													<img src="/images/green_quotes.png" width="48" class="sm:w-[38px]" alt="quoutes">
												</td>
												<td class="font-mulish">
													<table>
														<tr>
															<td>
																<p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
                                  We started tonight and my son loves it so much already. He read three books! <strong>No crying or fighting</strong>. It was awesome.
																</p>
															</td>
														</tr>
														<tr>
															<table>
																<tr>
																	<td class="w-[50px]">
																		<img src="/images/user_icon_6.png" width="40" alt="testimonial icon">
																	</td>
																	<td class="font-mulish">
																		<p class="text-ello-gray-900 font-bold">Becky H.</p>
																	</td>
																</tr>
															</table>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								
							</table>
          </td>
        </tr>
			
			</table>
    </td>
  </tr>
</table>
<table class="w-full">
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full">
				<tr>
					<td>
						<img src="/images/yellow_wave.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden mt-[-5px]" alt="wave">
						<img src="/images/yellow_wave_mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100" alt="wave">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="w-full">
  <tr>
    <td align="center">
        <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem]">
          <tr>
            <td>
              <div class="leading-[3rem]">&zwnj;</div>
              <table>
                <tr>
                  <td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
                    <p class="mt-0 mb-[1rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-center">
											Get Access to Expert Support
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <div class="leading-[2rem]">&zwnj;</div>
                      <tr>
                        <td class="w-[80px] sm:w-[60px] flex align-start">
                          <img src="/images/turquoise_quotes.png" width="48" class="sm:w-[38px]" alt="quoutes">
                        </td>
                        <td class="font-mulish">
                          <table>
                            <tr>
                              <td>
                                <p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
																	My son seemed really happy to sit with a book and work with Ello, and when we had to do his school reading, 
																<strong>I heard him using Ello's phonetic strategy</strong>, which he hadn't done before.
                                </p>
                              </td>
                            </tr>
                            <tr>
                              <table>
                                <tr>
                                  <td class="w-[50px]">
                                    <img src="/images/user_icon_7.png" width="40" alt="testimonial icon">
                                  </td>
                                  <td class="font-mulish">
                                    <p class="text-ello-gray-900 font-bold">Marisa E.</p>
                                  </td>
                                </tr>
                              </table>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
      </table>
    </td>
  </tr>
</table>
<table class="w-full">
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full">
				<tr>
					<td>
						<img src="/images/green_wave.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden mt-[-5px]" alt="wave">
						<img src="/images/green_wave_mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100" alt="wave">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-[#F9FAFB]">
				<tr>
          <td>
						<div class="leading-[3rem]">&zwnj;</div>
							<table>
								<tr>
									<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
										<p class="mt-0 mb-[1rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-center">
											Get Access to Expert Support
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<div class="leading-[2rem]">&zwnj;</div>
											<tr>
												<td class="w-[80px] sm:w-[60px] flex align-start">
													<img src="/images/yellow_quotes.png" width="48" class="sm:w-[38px]" alt="quoutes">
												</td>
												<td class="font-mulish">
													<table>
														<tr>
															<td>
																<p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
																	My son is <strong>so motivated</strong> when reading with Ello. It’s really incredible. He <strong>usually complains when we ask him to read to us</strong>, but it’s a part of our routine every night now!
																</p>
															</td>
														</tr>
														<tr>
															<table>
																<tr>
																	<td class="w-[50px]">
																		<img src="/images/user_icon_5.png" width="40" alt="testimonial icon">
																	</td>
																	<td class="font-mulish">
																		<p class="text-ello-gray-900 font-bold">Melissa P.</p>
																	</td>
																</tr>
															</table>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
          </td>
        </tr> 
			</table>
    </td>
  </tr>
</table>
<table class="w-full">
	<tr>
		<td align="center">
			<table class="w-[600px] sm:w-full">
				<tr>
					<td>
						<img src="/images/blue_wave.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden mt-[-5px]" alt="wave">
						<img src="/images/blue_wave_mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100" alt="wave">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
