---
preheader: "The Ello team"
title: "Make your reading routine even stronger 💪️"
googleFonts: "family=Mulish:wght@400;500;600;700;800"
wrapperClass: font-serif
---

<extends src="src/layouts/main.html">
  <block name="template">
    <component
      src="src/components/ello/reading-routine-boost/header.html"
    ></component>
    <component
      src="src/components/ello/reading-routine-boost/salut.html"
    ></component>
    <component
      src="src/components/ello/reading-routine-boost/section-elephant.html"
    ></component>
    <component
      src="src/components/ello/reading-routine-boost/section-books.html"
    ></component>
    <component
      src="src/components/ello/reading-routine-boost/section-animals.html"
    ></component>
    <component
      src="src/components/ello/reading-routine-boost/section-button.html"
    ></component>
    <component
      src="src/components/ello/reading-routine-boost/pre-footer.html"
    ></component>
    <component src="src/components/ello/shared/footer.html"></component>
  </block>
</extends>
