---
preheader: "Let's get reading!"
title: "Here's your Raise a Reader Toolkit 📚 🛠️"
googleFonts: "family=Mulish:wght@400;500;600;700;800"
wrapperClass: font-serif
prefooter: "Other reading apps either teach isolated skills such as letter recognition, or they read to your child. That’s not enough. With Ello, your child reads out loud, just like they would with their teachers or literacy specialists."
---

<extends src="src/layouts/main.html">
  <block name="template">
    <component src="src/components/ello/raise-a-reader/header.html"></component>
    <component src="src/components/ello/shared/pre-footer.html"></component>
    <component src="src/components/ello/shared/footer.html"></component>
  </block>
</extends>
