.bg-ello-blue-500 {
	background-color: #335C6E;
}
.bg-ello-turquoise-500 {
	background-color: #5ACCCC;
}
.bg-ello-orange-600 {
	background-color: #F76434;
}
.bg-ello-orange-700 {
	background-color: #28B8B8;
}
.bg-ello-yellow-500 {
	background-color: #FABD33;
}
.text-ello-blue-500 {
	color: #335C6E;
}
.text-ello-blue-500 {
	color: #2C3232;
}