.bg-ello-blue-500 {
  background-color: #335c6e;
}
.bg-ello-turquoise-500 {
  background-color: #5acccc;
}
.bg-ello-turquoise-700 {
  background-color: #28b8b8;
}
.bg-ello-yellow-500 {
  background-color: #fabd33;
}
.text-ello-blue-500 {
  color: #335c6e;
}
.text-ello-blue-500 {
  color: #2c3232;
}
