<table class="w-full">
  <tr>
    <td align="center">
			<table class="w-[600px] sm:w-full">
				<tr>
					<td>
            <img src="/images/ello_kids_bg.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden" alt="mom and daughter">
            <img src="/images/ello_kids_bg_mob.png" class="opacity-0 w-0 h-0 hidden sm:block sm:w-[100%] sm:h-[auto] sm:opacity-100"alt="mom and daughter">
					</td>
				</tr>
			</table>
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-white">
				<tr>
          <td>
						<div class="leading-[3rem]">&zwnj;</div>
							<table>
								<tr>
									<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
										<p class="mt-0 mb-[1rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-center">
                      Challenge Without Pushing Too Hard
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<div class="leading-[2rem]">&zwnj;</div>
											<tr>
												<td class="w-[80px] sm:w-[60px] flex align-start">
													<img src="/images/turquoise_quotes.png" width="48" class="sm:w-[38px]" alt="quoutes">
												</td>
												<td class="font-mulish">
													<table>
														<tr>
															<td>
																<p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
                                  The books are challenging for him, but he's trying really hard, and having Ello help sound out words has made getting stuck a lot less upsetting.
																</p>
															</td>
														</tr>
														<tr>
															<table>
																<tr>
																	<td class="w-[50px]">
																		<img src="/images/user_icon_3.png" width="40" alt="testimonial icon">
																	</td>
																	<td class="font-mulish">
																		<p class="text-ello-gray-900 font-bold">Kimberly H.</p>
																	</td>
																</tr>
															</table>
														</tr>
													</table>
												</td>
											</tr>
										
										</table>
                    <div class="leading-[3rem]">&zwnj;</div>
									</td>
								</tr>
							</table>
          </td>
        </tr> 
			</table>
    </td>
  </tr>
</table>
<table class="w-full">
  <tr>
    <td align="center">
        <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-[#F9FAFB]">
          <tr>
            <td>
              <div class="leading-[3rem]">&zwnj;</div>
              <table>
                <tr>
                  <td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
                    <p class="mt-0 mb-[1rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-center">
                      Balance Support With Independence
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <div class="leading-[2rem]">&zwnj;</div>
                      <tr>
                        <td class="w-[80px] sm:w-[60px] flex align-start">
                          <img src="/images/orange_quotes.png" width="48" class="sm:w-[38px]" alt="quoutes">
                        </td>
                        <td class="font-mulish">
                          <table>
                            <tr>
                              <td>
                                <p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
                                  My kid loves for me to watch her read while using Ello! She feels more independent when she can ask Ello to help her instead of me.
                                </p>
                              </td>
                            </tr>
                            <tr>
                              <table>
                                <tr>
                                  <td class="w-[50px]">
                                    <img src="/images/user_icon_4.png" width="40" alt="testimonial icon">
                                  </td>
                                  <td class="font-mulish">
                                    <p class="text-ello-gray-900 font-bold">Heather C.</p>
                                  </td>
                                </tr>
                              </table>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    
                    </table>
                    <div class="leading-[3rem]">&zwnj;</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
      </table>
    </td>
  </tr>
</table>
<table class="w-full">
  <tr>
    <td align="center">
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-white">
				<tr>
          <td>
						<div class="leading-[3rem]">&zwnj;</div>
							<table>
								<tr>
									<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
										<p class="mt-0 mb-[1rem] leading-[40px] sm:leading-[35px] text-ello-gray-900 sm:text-center">
                      Nurture Positive Reading Experiences
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<table>
											<div class="leading-[2rem]">&zwnj;</div>
											<tr>
												<td class="w-[80px] sm:w-[60px] flex align-start">
													<img src="/images/turquoise_quotes.png" width="48" class="sm:w-[38px]" alt="quoutes">
												</td>
												<td class="font-mulish">
													<table>
														<tr>
															<td>
																<p class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem] pb-[1rem]">
                                  My son is so motivated when reading with Ello. It’s really incredible… He usually complains when we ask him to read to us. It’s a part of our routine every night now!
																</p>
															</td>
														</tr>
														<tr>
															<table>
																<tr>
																	<td class="w-[50px]">
																		<img src="/images/user_icon_5.png" width="40" alt="testimonial icon">
																	</td>
																	<td class="font-mulish">
																		<p class="text-ello-gray-900 font-bold">Melissa P.</p>
																	</td>
																</tr>
															</table>
														</tr>
													</table>
												</td>
											</tr>
										
										</table>
                    <div class="leading-[3rem]">&zwnj;</div>
									</td>
								</tr>
							</table>
          </td>
        </tr> 
			</table>
    </td>
  </tr>
</table>
