<table class="w-full">
  <tr>
    <td align="center">
      <div class="leading-[3rem]">&zwnj;</div>
			<table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem]">
				<tr>
					<td>
            <img src="/images/blue_elephants.png" class="sm:opacity-0 sm:w-0 sm:h-0 sm:hidden w-[60%] block mx-[auto]" alt="elephants">
            <div class="leading-[3rem] sm:leading-0">&zwnj;</div>
          </td>
				</tr>
        <tr>
          <td class="font-mulish">
            <p
              class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-black text-[1rem]"
            >
            Having the right support, at the right time, can make all the difference in the world for your child’s reading journey. And it’s true for you as the parent of a young reader, too!
            <br>
            <br>
            Oh, and you can still try Ello for just $5 for your first month, but this offer won’t be around much longer.
            </p>
          </td>
        </tr>
			</table>
      
    </td>
  </tr>
</table>
