<table class="w-full">
  <tr>
    <td align="center">
			<table class="w-[600px] sm:w-full">
				<tr>
					<td>
						<img src="/images/mom_daughter.png" alt="mom and daughter">
					</td>
				</tr>
			</table>
      <table class="w-[600px] sm:w-full px-[2.5rem] sm:px-[2rem] bg-white">
        <tr>
          <td>
            <div class="leading-[3rem]">&zwnj;</div>
            <table class="w-full">
							<tr>
								<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
									<p class="mt-0 mb-[1rem] leading-[34px] text-ello-gray-900"><strong class="text-ello-turquoise-700">1. </strong>Try Reading Standing Up</p>
								</td>
							</tr>
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem]"
                  >
										Kids learn better while moving. Just being able to sway, shift their weight, or stand on one foot while reading at home can actually help your kid focus, learn, and retain reading growth better.
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
				<tr>
          <td>
            <div class="leading-[3rem]">&zwnj;</div>
            <table class="w-full">
							<tr>
								<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
									<p class="mt-0 mb-[1rem] leading-[34px] text-ello-gray-900"><strong class="text-ello-turquoise-700">2. </strong>Focus On Time Spent Trying</p>
								</td>
							</tr>
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem]"
                  >
										Reading requires stamina, and 15-20 is a long time doing something that’s really hard. Ask your child “try your best with reading” for just 1 minute at a time, and offer lots of breaks. Add a minute every week or so.
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
				<tr>
          <td>
            <div class="leading-[3rem]">&zwnj;</div>
            <table class="w-full">
							<tr>
								<td class="font-mulish text-white font-bold text-[1.6rem] sm:text-[1.4rem]">
									<p class="mt-0 mb-[1rem] leading-[34px] text-ello-gray-900"><strong class="text-ello-turquoise-700">3. </strong>Don’t Stop Reading To Them</p>
								</td>
							</tr>
              <tr>
                <td class="font-mulish">
                  <p
                    class="m-0 font-normal leading-[25px] sm:text-left sm:font-normal text-ello-gray-900 text-[1rem]"
                  >
										Struggling readers need extra reading practice, but listening to you read helps them build vocabulary, learn what fluent reading sounds like, and helps them see reading in an overall positive light.
                  </p>
                </td>
              </tr>
            </table>
            <div class="leading-[3rem] sm:leading-[2.5rem]">&zwnj;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
